<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="Footer" th:fragment="footer">

  <div class="wrap">

    <div class="row Footer-main">

      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}">
      </div>

      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.main}" th:href="@{/}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.genres}" th:href="@{/genres}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.news}" th:href="@{/news}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.popular}" th:href="@{/popular}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.authors}" th:href="@{/authors}"></a>
          </li>
        </ul>
      </div>


      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.signin}" th:href="@{/signin}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.documents}" th:href="@{/documents}"></a>
          </li>
          <li class="menu-item"><a class="menu-link"th:text="#{topbar.about}" th:href="@{/about}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.faq}" th:href="@{/faq}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.contacts}" th:href="@{/contacts}"></a>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <div class="Footer-copy">
    <div class="wrap">© 2021 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </div>
  </div>

  <p>
    <span>Выбор языка</span>
    <select id="locales">
      <option value=" "></option>
      <option value="en">English</option>
      <option value="ru">Русский</option>
    </select>
  </p>

</footer>

</html>