<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="Footer" th:fragment="footer">
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}"></div>
      <div class="row-block">
        <ul class="menu menu_main">
          <li class="menu-item menu-item_ACTIVE"><a class="menu-link"
                                                    th:text="#{topbar.main}" th:href="@{/}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" href="genres.html"
                                   th:text="#{topbar.genres}" th:href="@{/genres}"></a>
          </li>
          <li class="menu-item"><a class="menu-link" href="nove.html"
                                   th:text="#{topbar.news}" th:href="@{/news}">Новинки</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="popular.html"
                                   th:text="#{topbar.popular}" th:href="@{/popular}">Популярное</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="authors.html"
                                   th:text="#{topbar.authors}" th:href="@{/authors}">Авторы</a>
          </li>

          <p>
            <span>Выбор языка</span>
            <select id="locales">
              <option value=" "></option>
              <option value="en">English</option>
              <option value="ru">Русский</option>
            </select>
          </p>

        </ul>

      </div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.signin}" th:href="@{/signin.html}">Войти</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.documents}" th:href="@{/documents}">Документы</a>
          </li>
          <li class="menu-item"><a class="menu-link"th:text="#{topbar.about}" th:href="@{/about}">О компании</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.faq}" th:href="@{/faq}">Помощь</a>
          </li>
          <li class="menu-item"><a class="menu-link" th:text="#{topbar.contacts}" th:href="@{/contacts}">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">© 2021 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </div>
  </div>
</footer>
</html>